@media screen {
    header nav .correction:before {
        content:"\f044"; /* fas fa-edit */
    }
    .correction .no-resources:before {
        content:"\f044"; /* far fa-edit */
    }
    #corrections .property {
        display: inherit;
    }
    #resource-corrections .actions {
        float: right;
    }
    #resource-corrections.empty,
    #resource-corrections+.no-resources {
        display:none;
    }
    #resource-corrections.empty+.no-resources {
        display:block;
        padding:0 24px;
    }
    #resource-corrections.empty+.no-resources:before {
        content:"\f044"; /* far fa-edit */
    }
    #resource-corrections tr.delete {
        background-color:#fcc;
    }
    .corrections .resource-details .correction-internal-id {
        font-size: 0.7em;
    }

    .correction table .resource-name {
        display: inline-block;
        vertical-align: bottom;
        margin-left: .5em;
        opacity: .5;
    }

    .corrections .correction-public {
        font-style: italic;
    }

    .correction .single.actions {
        float: right;
    }
    .correction .single.actions a::before {
        text-align: inherit;
    }
    .correction .single.actions .o-icon-transmit::before {
        background: url('../img/waiting-mini.gif') no-repeat scroll 3px 3px transparent !important;
    }
    .correction .o-icon-users,
    .correction .no-action::before {
        width: 24px;
        height: 24px;
        line-height: 24px;
        vertical-align: top;
        border: 0;
        box-shadow: none;
        opacity: .5;
        text-align: inherit;
    }
    .correction.meta-group .single.actions,
    .correction.meta-group .no-action::before {
        float: right;
    }

    .correction.meta-group span,
    .correction .meta-group span {
        display: inline;
        hyphens: auto;
        word-wrap: break-word;
    }

    .correction.meta-group::before,
    .correction .status-toggle::before,
    .correction .resource-name::before {
        display: inline-block;
        font-family: "Font Awesome 5 Free";
        padding-left: 3px;
        padding-right: 3px;
        width: 24px;
    }
    .correction .resource-name.item-set::before {
        content: ""; /* item set */
    }
    .correction .resource-name.item::before {
        content: ""; /* item */
    }
    .correction .resource-name.media::before {
        content: ""; /* media */
    }
    .correction .o-icon-unreviewed::before {
        color: #FF0000;
        content: ""; /* question */
    }
    .correction .o-icon-reviewed::before {
        color: #00FF00;
        content: ""; /* check */
    }
    .correction .o-icon-proposed::before {
        color: #FFA500;
        content: ""; /* question */
    }
    .correction .o-icon-approve::before {
        color: #00FF00;
        content: ""; /* check */
    }
    .correction .o-icon-unvalidated::before,
    .correction .o-icon-unapprove::before {
        color: #FF0000;
        content: ""; /* cancel */
    }
    .correction .o-icon-validate-value::before,
    .correction .o-icon-validate::before {
        color: #FFA500;
        content: "\f359"; /* arrow left */
    }
    .correction .o-icon-validate-value.no-right::before,
    .correction .o-icon-validate.no-right::before {
        color: #FFA500;
        content: "\f359"; /* arrow left */
    }
    .correction .o-icon-validated::before {
        color: #00FF00;
        content: "\f359"; /* arrow left / equal not available iin 5.0.8 */
    }
    .correction .o-icon-validated-value::before {
        color: #00FF00;
        content: ""; /* check */
    }
    .correction .o-icon-unvalidated-value::before {
        color: #FF0000;
        content: ""; /* cancel */
    }
    .correction .o-icon-expire-token::before {
        color: #00FF00;
        content: ""; /* stop-watch */
    }
    .correction .o-icon-expired-token::before {
        color: #FF0000;
        content: ""; /* stop-watch */
    }
    .correction .o-icon-unknown-value::before,
    .correction .o-icon-not-validable-value::before {
        color: #FFA500;
        content: ""; /* exclamation */
    }
    .correction .o-icon-undefined::before {
        color: #FF0000;
        content: ""; /* exclamation */
    }
    .correction .o-icon-none::before {
        color: #FFFFFF;
        content: "";
    }
    .correction .o-icon-transmit::before {
        background: url('../img/waiting-mini.gif') no-repeat scroll 12px 3px transparent !important;
        color: #000000;
        content: "";
        cursor: progress;
    }

    .correction .correction-email,
    .correction .correction-date {
        opacity: 0.6;
    }
    .correction .correction-id {
        opacity: 0.4;
    }
    .correction .original-value {
        opacity: 0.6;
    }
    .correction .remove-value {
       text-decoration: line-through;
    }

    /* Modal */
    /* Mocal background */
    .create_correction .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    /* Modal content */
    .create_correction .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 60%;
    }
    /* Mocal close button */
    .create_correction .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    .create_correction .close:hover,
    .create_correction .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
}

@media screen and (max-width: 640px) {
    fieldset.section>#resource-corrections.empty+.no-resources {
        display:none;
    }
    fieldset.section.mobile-active>#resource-corrections.empty+.no-resources {
        display:block;
        margin-top:48px;
    }
}
